@model NorthwindWebApp.Models.Region

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div style="background-color:silver">
    
    @{Html.RenderPartial("RegionDetailView", this.Model); }


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
