
@{
    ViewBag.Title = "MovieUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movie Image</h2>


@using (Html.BeginForm(null, null,
    FormMethod.Post, new
    {
        enctype = "multipart/form-data"
    }))
{
    <input type="file" name="files" id="files" multiple="multiple" />
    
    <div id="plImages"></div>
    
    
}
@section Scripts {
    <script src="~/Scripts/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jquery.fileupload.js"></script>

    <script>
        $(document).on('ready', function () {
            console.log('ready');
            $('#files').fileupload({
                dataType: 'json',
                done: function (e, data) {                    
                    $.each(data.result, function (index, file) {
                        var div = $("<div>"); 
                        var img = $("<img>");
                        img.attr("src", file.path);
                        img.attr("width", 200);
                        img.attr("height", 200);
                        div.append(img);
                        $("#plImages").append(div);
                    });                    
                }
            });
        });
    </script>
}

