
@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Logout</h2>

@using (Html.BeginForm())
{


    <div>
        <input type="submit" value="Logout" class="btn btn-default" />
    </div>
}

